<div class="self_backlink">


	<ul class="self_backlinku1">
		<li id="user_manager" class="self_backselfli1"><a href="#">用户管理</a></li>
		<li class="self_backselfli2">								
			<ul>
				<li class="search_user_left"><a href="{&WWW}/User/index">查找用户</a></li>
				<li class="add_user_left"><a href="{&WWW}/User/addMember">添加用户</a></li>
			</ul>
		</li>
	</ul>
	<ul class="self_backlinku1">
		<li id="space_manager" class="self_backselfli1 "><a href="#">空间管理</a></li>
		<li class="self_backselfli2">								
			<ul>
				<li id="space_list" ><a href="{&WWW}/Space/index">空间列表</a></li>
				<li id="space_add" ><a href="{&WWW}/Space/create">新增空间</a></li>
			</ul>
		</li>
	</ul>
	<ul class="self_backlinku1">
		<li id="sysroom_manager" class="self_backselfli1"><a href="#">系统样板间</a></li>
		<li class="self_backselfli2">								
			<ul>
				<li id="sysroom_list"><a href="{&WWW}/SysRoom/index">系统样板间列表</a></li>
				<li id="sysroom_add"><a href="{&WWW}/SysRoom/create">新增系统样板间</a></li>
			</ul>
		</li>
    </ul>
    <ul class="self_backlinku1">
		<li id="room_manager" class="self_backselfli1"><a href="#">样板间管理</a></li>
		<li class="self_backselfli2">								
			<ul>
				<li id="room_list"><a href="{&WWW}/Room/index">样板间列表</a></li>
				<li id="room_add"><a href="{&WWW}/Room/create">新增样板间</a></li>
			</ul>
		</li>
    </ul>
	<ul class="self_backlinku1">
		<li id="goods_manager" class="self_backselfli1"><a href="#">商品管理</a></li>
		<li class="self_backselfli2">								
			<ul>
				<li id="goods_list"><a href="{&WWW}/GoodsBasic/index">商品列表</a></li>
				<li id="goods_add"><a href="{&WWW}/GoodsBasic/create">新增商品</a></li>
			</ul>
		</li>
	</ul>
	<ul class="self_backlinku1">
		<li id="elem_manager" class="self_backselfli1"><a href="#">元素管理</a></li>
		<li class="self_backselfli2">								
			<ul>
				<li id="elem_list"><a href="{&WWW}/ElementBasic/index">元素列表</a></li>
				<li id="elem_add"><a href="{&WWW}/ElementBasic/add">新增元素</a></li>
				<li id="elem_clist"><a href="{&WWW}/ElementCategory/index">元素分类列表</a></li>
				<li id="elem_cadd"><a href="{&WWW}/ElementCategory/add">新增元素分类</a></li>
			</ul>
		</li>
    </ul>
	


    <ul class="self_backlinku1">
		<li id="room_manager" class="self_backselfli1"><a href="#">样板间管理</a></li>
		<li class="self_backselfli2">								
			<ul>
				<li id="room_list"><a href="{&WWW}/Room/index">样板间列表</a></li>
				<li id="room_add"><a href="{&WWW}/Room/create">新增样板间</a></li>
			</ul>
		</li>
    </ul>
	<ul class="self_backlinku1">
		<li id="goods_manager" class="self_backselfli1"><a href="#">商品管理</a></li>
		<li class="self_backselfli2">								
			<ul>
				<li id="goods_list"><a href="{&WWW}/GoodsBasic/index">商品列表</a></li>
				<li id="goods_add"><a href="{&WWW}/GoodsBasic/create">新增商品</a></li>
			</ul>
		</li>
	</ul>
	<ul class="self_backlinku1">
		<li id="elem_manager" class="self_backselfli1"><a href="#">元素管理</a></li>
		<li class="self_backselfli2">								
			<ul>
				<li id="elem_list"><a href="{&WWW}/ElementBasic/index">元素列表</a></li>
				<li id="elem_add"><a href="{&WWW}/ElementBasic/add">新增元素</a></li>
				<li id="elem_clist"><a href="{&WWW}/ElementCategory/index">元素分类列表</a></li>
				<li id="elem_cadd"><a href="{&WWW}/ElementCategory/add">新增元素分类</a></li>
			</ul>
		</li>
    </ul>



<ul class="self_backlinku1">
<li id="user_center" class="self_backselfli1"><a href="#">个人中心</a></li>
	<li class="self_backselfli2">								
		<ul>
			<li id="user_basic_info"><a href="{&WWW}/User/show">基本信息</a></li>
			<li id="user_protect_pwd"><a href="{&WWW}/User/pwd">密码保护</a></li>									
		</ul>
	</li>	
</ul>
<ul class="self_backlinku1">
<li id="mr_manager" class="self_backselfli1"><a href="#">效果图管理</a></li>
	<li class="self_backselfli2">								
		<ul>
			<li id="mr_list"><a href="{&WWW}/ModelRoom/index">所有效果图</a></li>
			<li id="mr_list_show"><a href="{&WWW}/ModelRoom/index/type/2">已公开效果图</a></li>
			<li id="mr_list_hide"><a href="{&WWW}/ModelRoom/index/type/3">未公开效果图</a></li>
			<li id="mr_list_del"><a href="{&WWW}/ModelRoom/index/type/4">作废的效果图</a></li>								
		</ul>
	</li>	
</ul>
</div>

<script>
	$(function(){	
		$(".self_backselfli1").click(
			function () {
				if($(this).next(".self_backselfli2").is(":visible")){
			  		$(this).next(".self_backselfli2").hide();
			  		$(this).find("a").css("background","url('{&STATIC}/images/selfback_link1a.jpg') no-repeat 10% center");
				}else{
					$(this).next(".self_backselfli2").show();
					$(this).find("a").css("background","url('{&STATIC}/images/selfback_link1.jpg') no-repeat 10% center");
				}
			}
		);
	});
</script>